{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/index.css' %}" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    
    <body>
        

        <form method="POST" class="d-flex flex-column justify-content-center login-page">
            {% csrf_token %}
            <table class="form-control">
                {{form.as_table}}
            </table> 
            
            
            <button type="submit" class="btn btn-primary" name="button">LOGIN</button>
        </form>


</body>
</html>


